{% extends 'header.html' %}
{% block content %}

<h2>Blood Request History</h2>

<table border="1" cellpadding="10">
<tr>
    <th>Hospital</th>
    <th>Blood Group</th>
    <th>Units</th>
    <th>Status</th>
    <th>Date</th>
    <th>Time Slot</th>
</tr>

{% for r in history %}
<tr>
    <td>{{ r.hospital.hospital_name }}</td>
    <td>{{ r.blood_group }}</td>
    <td>{{ r.units }}</td>
    <td>{{ r.status }}</td>
    <td>{{ r.assigned_date|default:"-" }}</td>
    <td>{{ r.time_slot|default:"-" }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="6">No requests found</td>
</tr>
{% endfor %}
</table>

{% endblock %}
